<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://unpkg.com/tailwindcss-cdn@3.4.10/tailwindcss.js"></script>
    <title>Manage News</title>
    {% load static %}
    <style>
        
        body {
            background: url("{% static 'myapp/back.jpg' %}") no-repeat center center fixed;
            background-size: cover;
        }
        #ad1 {
            position: sticky; /* Fixed position */
            top: 100px; /* Align below the navbar */
            left: 20px; /* Position on the left side with margin */
            z-index: 999; /* Ensure it appears above other content */
            margin-right: 20px; /* Maintain right margin */
        }

        /* Fixed Banner Ad 2 */
        #ad2 {
            position: fixed; /* Fixed position */
            top: 100px; /* Align below the navbar */
            right: 20px; /* Position on the right side with margin */
            z-index: 999; /* Ensure it appears above other content */
            margin-left: 20px; /* Maintain left margin */
        }
        
    </style>
</head>

<body class="m-0 p-0 h-full">
    <!-- Sidebar -->
    

    <!-- Main Content -->
     <div class="flex flex-row h-full">
        <div id="mySidebar" class="h-full absolute left-0 top-0 w-0 z-[1000] bg-[#333] overflow-x-hidden duration-[0.5s] pt-16">
            <h5 style="margin-left: 50px; color: white;">Categories</h5>
            <span class="absolute top-[0.625rem] right-6 text-3xl text-white cursor-pointer" onclick="closeNav()">&times;</span>
            {% for category in categories %}
                <a class="px-4 py-3 text-[1.125rem] text-white block duration-[0.3s] hover:text-[#ffa500]" href="#">{{ category }}</a>
            {% empty %}
                <a class="px-4 py-3 text-[1.125rem] text-white block duration-[0.3s] hover:text-[#ffa500]" href="#">No categories found.</a>
            {% endfor %}
        </div>
    
        <!-- Navbar with Hamburger Button -->
        <nav class="h-16 min-h-16 max-h-16 absolute w-full z-50 top-0 bg-slate-950 text-white">
            <div class="flex items-center justify-between">
                <span id="hamburgerBtn" class="text-3xl m-2 cursor-pointer text-white" onclick="openNav()">&#9776;</span>
                <a class=" absolute left-1/2 translate-x-[-50%] top-1/2 translate-y-[-50%] m-0" href="/">News In Briefs</a>
            </div>
        </nav>
        <div id="ad1" class="w-[9.5rem] h-[19rem] bg-[#f8f9fa] text-center p-3 rounded mb-5 flex justify-center items-center" style="display: none;">Banner Ad 1</div>
        <div class="flex flex-col flex-1 items-center mt-[6.5rem] py-0 px-4" id="mainContent">
            <div id="ad3" class="banner-ad3  w-5/6 max-w-[50rem] bg-white rounded-xl h-[4.7rem] flex justify-center items-center z-50 mb-5" style="display: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);">Banner Ad 3</div>
            {% for news in news_posts %}
                <div class="flex justify-between items-start mb-5">
                    
                    <div class="w-full max-w-[50rem] bg-white rounded-xl overflow-hidden mb-5 p-4 flex items-center md:h-[19rem]" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);">
                        <div class="row align-items-center">
                            <div class="col-md-3">
                                <img src="{{ news.image_url }}" class="w-full h-52 object-cover rounded-xl" alt="News Image" onerror="this.onerror=null; this.src='https://via.placeholder.com/800x400';">
                            </div>
                            <div class="col-md-9">
                                <div class="news-card-body">
                                    <h5 class=" font-bold text-[#333] mb-3 text-left">{{ news.title }}</h5>
                                    <p class=" text-justify text-[#333]">{{ news.summary }}</p>
                                    <div class="text-base text-[#888] pt-3 text-left">
                                        <span>Category: {{ news.category }}</span><br>
                                        <span>Headline: {{ news.headline }}</span><br>
                                        <div class="d-flex flex-row justify-content-between background-color-gray w-100">
                                            <a class="text-[#007bff] hover:underline" href="{{ news.news_url }}">Read more</a>
                                            <span onclick="copyShareLink('{{ news.post_slug }}')">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                                    <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5"/>
                                            </svg>
                                            Share
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            {% empty %}
                <p>No news posts found.</p>
            {% endfor %}
        </div>
        <div id="ad2" class="w-[9.5rem] h-[19rem] bg-[#f8f9fa] text-center p-3 rounded mb-5 flex justify-center items-center" style="display: none;">Banner Ad 2</div>
        <!-- <div class="absolute bottom-10 left-1/3">Link copied</div> -->
    </div>

    <!-- JavaScript to toggle sidebar and hamburger button visibility -->
    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
            document.getElementById("hamburgerBtn").style.display = "none";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("hamburgerBtn").style.display = "block";
        }

        function showAds() {
            const container = document.getElementById('mainContent');
            const containerWidth = container.offsetWidth;
            const cardWidth = 800; // The max width of the news card
            const availableSpace = containerWidth - cardWidth;

            if (availableSpace >= 200) { // Assuming 100px space on each side
                // Show both ads
                document.getElementById('ad1').style.display = 'block';
                document.getElementById('ad2').style.display = 'block';
                document.getElementById('ad3').style.display = 'none';
            } else {
                // Show only one ad at the top
                document.getElementById('ad1').style.display = 'none';
                document.getElementById('ad2').style.display = 'none';
                document.getElementById('ad3').style.display = 'block';
            }

            // Set width of Banner Ad 3 based on news card
            const newsCard = document.querySelector('.news-card');
            if (newsCard) {
                const newsCardWidth = newsCard.offsetWidth;
                document.getElementById('ad3').style.width = newsCardWidth + 'px';
            }
        }
        function copyShareLink(slug){
            navigator.clipboard.writeText(`${window.location.href}?post=${slug}`).then(function() {
            console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
            console.error('Async: Could not copy text: ', err);
            });
        }

        window.onload = showAds;
        window.onresize = showAds; // Recheck on window resize
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1ZkNH7g++w8L8w6Vj6EpKq1tYo7I8KLDjSef3CbQyw+Ig5qsNRb6mWfD5hyaUmK" crossorigin="anonymous"></script>
</body>
</html>
